# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# Logs
logs/
*.log

# Airflow
airflow.db
airflow.cfg
unittests.cfg
*.airflow-local.db
dags/__pycache__/

# Docker
*.pid
*.pid.lock
docker-compose.override.yml
docker-compose.*.yml
.env.*

# System
.DS_Store
Thumbs.db

# PostgreSQL
*.sql~  # temp files
pgdata/

# Pip / Python deps
pip-wheel-metadata/
*.egg-info/
.eggs/
dist/
build/

# pySpark / Java
.metastore_db/
derby.log

# Misc
*.bak
*.swp
*.tmp
ml/multi_label_classification/*.joblib
# Ignore all Tableau export JSON files
src/tableau/hyper_exports/*.json
important_notes.txt
key-pairs/
terraform.tfvars

 Local Terraform directories and files
.terraform/                # Plugin downloads & module cache
crash.log                  # Terraform crash logs

# State files (sensitive!)
*.tfstate                  # Local state
*.tfstate.backup           # Older state backups

# Variable definitions containing secrets
terraform.tfvars           # Default tfvars (API keys, passwords, etc.)
*.auto.tfvars              # Any auto-loaded tfvars files
override.tf                # Terraform override files
override.tf.json           # Terraform override JSON
*_override.tf              # Any other override files

# CLI configuration files
.terraformrc               # Terraform CLI config
terraform.rc               # Terraform CLI config

# Plan output (optional)
*.tfplan                   # Saved plan files